@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__logo-link/header__logo-link.css);
@import url(./__lang-link/_current/header__lang-link_current.css);

.header {
  max-width: 1280px;
  /* height: 52px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 56px;
  padding: 0 48px;
}
@media screen and (max-width: 1030px) {
  .header {
    margin-bottom: 48px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    padding: 0 24px;
    max-width: 720px;
  }
}
@media screen and (max-width: 450px) {
  .header {
    padding: 0 16px;
  }
}
