@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__list-item/intro__list-item.css);
@import url(./__list-item/_span/intro__list_span.css);
.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 690px;
  margin-bottom: 92px;
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
}
