@import url(./__image/place__image.css);
@import url(./__title/place__title.css);
@import url(./__url-heading/place__url-heading.css);
@import url(./__website/place__website.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__link/place__link.css);
@import url(./_);
.place {
  color: white;
  font-family: Inter, Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 47% 49%;
  grid-gap: 48px 40px;
  margin-bottom: 80px;
}
@media screen and (max-width: 1025px) {
  .place {
    grid-gap: 48px 32px;
  }
}
@media screen and (max-width: 850px) {
  .place {
    margin-bottom: 72px;
    grid-gap: 48px 28px;
  }
}
@media screen and (max-width: 600px) {
  .place {
    grid-template-columns: 100%;
    grid-gap: 32px;
  }
}
